*{padding: 0; margin: 0; box-sizing: border-box}
body{ font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"; font-size: 14px;}

#principal{
	width: 80%;
	margin: 0 auto;
}
#section1{
	background-color: rgba(46,183,6,0.63);
	margin-top: 10px;
	padding: 10px;
	border-style: hidden;
	border-radius: 10px;
}
#section1 label{
	display: inline-block;
	width: 130px;
	margin: 10px 0 0 10px;
	
}
#section1 input, select{
	width: 200px;
	margin: 0px 10px;
}
#section2{
	background-color: rgba(131,148,0,0.63);
	margin-top: 10px;
	padding: 10px;
	border-style: hidden;
	border-radius: 10px;
}
#section2 label{
	display: inline-block;
	margin: 0 10px;
}
#section3{
	background-color: rgba(56,80,220,0.63);
	margin-top: 10px;
	padding: 10px;
	border-style: hidden;
	border-radius: 10px;
}
#section3 label{
	display: inline-block;
	margin: 0 10px;
}
#section4{
	background-color: rgba(94,5,118,0.63);
	margin-top: 10px;
	padding: 10px;
	border-style: hidden;
	border-radius: 10px;
}
legend{
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 1rem;
}

